/*----- VARIABLES-----*/
@font-face {
  font-family: "barlow";
  src: url(../font/Barlow-Regular.ttf);
}
/*----- RESET -----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  position: relative;
  font-family: "barlow", sans-serif;
  scroll-behavior: smooth;
}
/*----- RECURRENTS -----*/
.center {
  width: 960px;
  margin: 0 auto;
}
h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}
h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}
section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 100px 100px;
}
section:nth-child(odd) {
  position: relative;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
}
section img {
  max-width: 450px;
  margin-left: 30px;
}
section p {
  font-size: 18px;
  margin-top: 20px;
}
section a {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
  background: #111;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 20px;
  transition: all 0.3s;
}
section a:hover {
  background-color: #3faba8;
  border-radius: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*----- MENU BURGER -----*/
.header-toggle {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #111;
  cursor: pointer;
  z-index: 9999;
}
.header-toggle span {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.header-toggle span:before,
.header-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.header-toggle span:before {
  top: -10px;
}
.header-toggle span:after {
  top: 10px;
}
header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
header img {
  width: 300px;
  position: absolute;
}
/*----- NAVBAR -----*/
nav {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: #111;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul a {
  display: block;
  font-size: 20px;
  text-align: center;
  color: white;
  transition: all 0.5s;
}
nav ul a:hover {
  transform: translateY(-3px);
  color: #dd4e7a;
}
/*--MONUMENT--*/
.monument {
  display: block;
}
.monument article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.monument article:nth-of-type(odd) {
  flex-direction: row-reverse;
}
.monument article:nth-of-type(even) img {
  margin-right: 30px;
  margin-left: 0;
}
/*--GALERIE--*/
.gallerie {
  flex-direction: column;
  margin-left: inherit;
  padding-top: 20px;
  text-align: center;
}
.gallerie article.container {
  display: block;
  columns: 3 300px;
  column-gap: 2rem;
  margin-top: 50px;
}
.gallerie article.container .box-img .imgbx.active {
  position: fixed;
  top: 80px;
  left: 0px;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  margin: 50px 100px;
  z-index: 1;
  filter: grayscale(0);
}
.gallerie article.container .box-img .imgbx {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(1);
}
.gallerie article.container .box-img .imgbx:hover {
  filter: grayscale(0);
}
.gallerie article.container .box-img .imgbx img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 20px;
}
/*FOOTER*/
footer {
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
footer ul {
  font-size: 0;
  list-style-type: none;
}
footer ul li {
  font-size: 16px;
  display: inline-block;
}
footer ul li a {
  color: #fff;
  padding: 10px;
}
footer ul li a i {
  transition: all 0.5s;
}
footer ul li a i:hover {
  color: #3faba8;
  transform: translateY(-3px);
}
footer .texte {
  padding-top: 30px;
}
footer .texte p {
  color: #fff;
  text-align: center;
}
footer .texte p a {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
footer .texte p a:hover {
  color: #3faba8;
}
footer .texte p a:hover:after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #dd4e7a;
}
/*MENTIONS LEGALES*/
.mentions h2 {
  margin-top: 100px;
}
.mentions section {
  display: block;
  min-height: inherit;
}
.mentions section li {
  list-style-type: none;
}
/* SCROLLTOP*/
a#scrolltop {
  font-size: 40px;
  position: fixed;
  bottom: 150px;
  left: 40px;
  color: #3faba8;
  transition: bottom 0.4s, color 0.4s;
  display: none;
}
a#scrolltop:hover {
  transform: scale(0.9);
  color: #dd4e7a;
}
/*--------------- MEDIA QUERY 960px ----------------*/
@media screen and (max-width: 960px) {
  /*RECURENT*/
  section {
    padding: 100px 50px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  section img {
    margin: 50px 0 0;
    max-width: 100%;
  }
  /*BURGER*/
  .burger {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0.25rem;
    right: 0.25rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #111;
    z-index: 9999;
  }
  .burger span {
    position: absolute;
    width: 1.875rem;
    height: 2px;
    top: 50%;
    left: 50%;
    background-color: #3faba8;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
  }
  .burger ::before,
  .burger ::after {
    content: "";
    position: absolute;
    display: block;
    width: 1.875rem;
    height: 2px;
    background-color: #dd4e7a;
    transition: all 0.3s ease-in-out;
  }
  .burger ::before {
    top: -0.625rem;
  }
  .burger ::after {
    top: 0.625rem;
  }
  .burger.burger-open span {
    background-color: transparent;
  }
  .burger.burger-open span:before {
    transform: rotate(45deg);
    top: 0;
  }
  .burger.burger-open span:after {
    transform: rotate(-45deg);
    top: 0;
  }
  /*NAVBAR*/
  nav.menu {
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.9);
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }
  nav.menu.is-open {
    transform: translateY(0);
  }
  nav.menu .logo {
    display: block;
  }
  nav.menu ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  nav.menu ul li {
    display: block;
    width: 100%;
  }
  nav.menu ul li a {
    margin: 5px 0;
    font-size: 24px;
  }
  /*HEADER*/
  header {
    margin-top: inherit;
  }
  /*SECTION MONUMENT*/
  section.monument article {
    padding: 0px 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  section.monument article:nth-of-type(odd) {
    flex-direction: inherit;
  }
  section.monument article:nth-of-type(even) img {
    margin-right: inherit;
    margin-left: inherit;
    max-width: 100%;
  }
  section.monument article h3 {
    margin-top: 20px;
    text-align: left;
  }
}
/*--------------- MEDIA QUERY 425px ----------------*/
@media screen and (max-width: 425px) {
  /*RECURENT*/
  section {
    padding: 20px 20px 20px;
  }
  section img {
    margin: 20px 0 0;
  }
  .gallerie article.container .box-img .imgbx.active {
    overflow: hidden;
    width: 100%;
    padding: 20px;
    margin: inherit;
  }
}
